<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <resource-env-ref>
    <description>БД testapp</description>
    <resource-env-ref-name>.apps.testapp.db</resource-env-ref-name>
  </resource-env-ref>
  <resource-env-ref>
    <description>URL testapp</description>
    <resource-env-ref-name>.apps.testapp.ws</resource-env-ref-name>
    <lookup-name>LDAPPREFIX</lookup-name>
  </resource-env-ref>

  <env-entry>
    <description>пароль БД</description>
    <env-entry-name>apps.testapp.db_PASSWORD</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <!-- значение не указываем - получим его из окружения -->
  </env-entry>
  <env-entry>
    <description>пользователь БД</description>
    <env-entry-name>apps.testapp.db_user</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>testapp</env-entry-value>
  </env-entry>
  <env-entry>
    <description>настрока БД для prisma</description>
    <env-entry-name>DATABASE_URL</env-entry-name>
    <env-entry-type>java.net.URL</env-entry-type>
    <env-entry-value>${apps.testapp.db_user}:${apps.testapp.db_PASSWORD}@${apps.testapp.db}</env-entry-value>
  </env-entry>
  <env-entry>
    <description>файл с сертификатом, который будем использовать для аутентификации в других ресурсах</description>
    <env-entry-name>apps.testapp.certfile</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>/etc/certs/testapp.pem</env-entry-value>
  </env-entry>

  <env-entry>
    <description>пароль от файла с сертификатом, который будем использовать для аутентификации в других ресурсах</description>
    <!-- у секретов обязательно должен быть суффикс _PASSWORD чтобы ловушка ошибок замазывала значения секретов в дампах -->
    <env-entry-name>apps.testapp.cert_PASSWORD</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <!-- значение не указываем - получим его из окружения -->
  </env-entry>

</web-app>